<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'users:login_selection' %}">
            Anonas Daycare Center
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
                <ul class="navbar-nav ms-auto">
                  
                
                 {% if user.is_parent %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:parent_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'information:announcement_list' %}">Announcements</a>
                        </li>
                          <!-- Messages/Chat History Dropdown -->
                
                    {% elif user.is_teacher %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:teacher_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'monitoring:class_list' %}">My Classes</a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
                            {{ user.get_full_name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>