{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
    <h3 class="mb-4 text-center">
        <i class="bi bi-shield-lock"></i> Change Password
    </h3>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-warning">
                Update Password
            </button>
        </div>
    </form>
</div>
{% endblock %}
